<div class="row">
    <div class="col-lg-3 col-md-4 col-6 p-2" *ngFor="let movie of movies">
        <div class="movieContainer border">
            <img class="w-100" *ngIf="movie.poster_path == null" src="../../../assets/images/notfound.jpg" alt="">
            <img class="w-100" *ngIf="movie.poster_path != null" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="">
            <h3 class="mt-2 mb-0 px-2">{{movie.original_title}}</h3>
            <p class="mb-0 px-2 date">{{movie.release_date}}</p>
            <div class="rate">
                {{movie.vote_average}}
            </div>
        </div>
    </div>
</div>